.content {
  background-color: var(--dark-gray);
  color: var(--light-black);
  font-size: var(--title-fs);
  font-weight: var(--bold-weight);
  padding: 2rem;
  overflow: hidden;
  flex-grow: 1;
}
.dark-content {
  background-color: var(--grey);
  color: var(--black);
}
